@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ms+Madi&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

header {
  background-color: rgb(94, 3, 129);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(253, 245, 245);
  
}

.title {
  font-size: 3rem;
  font-family: 'Ms Madi', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 200px;
}

.card-container{
  display: flex;
  gap: 20px;
  border: 3-x solid black;
}

input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgb(61, 5, 61);
  margin: 20px 0px;
  padding: 0px 10px;
  font-size: 1.2rem;
  font-family: 'Roboto Condensed', sans-serif;
}